.m-button{
    height: 40px;
    background-color: #019160;
    border-radius: 4px;
    font-size: 13px;
    border: none;
    color: #ffffff;
    font-weight: regular;
    padding: 0 24px 0 24px;
    text-align: center;
    min-width: 100px;
    cursor: pointer;
}
.m-button:hover{
    background-color: #2FBE8E;
}

.m-button:active{
    background-color: #01B075;
}

.m-button-icon{
    background-size: 16px 16px;
    background-image: url(../../asset/icon/add.png);
    background-repeat: no-repeat;
    background-position: 16px center;
    padding-left: 40px;
    padding-right: 16px;
}
.m-jicon-button{
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
}