.m-combobox{
    position: relative;
    height: 40px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #BBBBBB;
    border-style: solid;
    display: flex;
    width: 100%;
}

.m-combobox input{
    width: 100%;
    padding: 4px 16px 4px 16px;
}

.m-combobox button{
    flex-shrink: 0;
    width: 40px;
    background-image: url(../../asset/icon/btn-prev-page.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    background-color: #fff;
    border-width: 1px;
    border-color: #BBBBBB;
    border-style: solid;
}

.m-combobox .m-combobox-data{
    position: absolute;
    top: 100%;
    width: 100%;
    box-shadow: 1px 2px 5px #000;
}

.m-combobox .m-combobox-data .m-combobox-item{
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 40px;
    padding-left: 36px;
}
.m-combobox .m-combobox-data .m-combobox-item:hover{
    background-color: #E9EBEE;
}
.m-combobox .m-combobox-data .m-combobox-item.m-combobox-item-selected:active{
    background-color: #019160;
    background-image: url(../../asset/icon/btn-prev-page.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
}