.m-field-input {
    height: 40px;
    padding-left: 16px;   
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    width: 100%;
}

.m-field-input-icon::placeholder{
    font-size: 12px;
    color: #bbbbbb;
    font-family: MISA Font Regular;
}

.m-field-input-icon{
    background-image: url(../../asset/icon/search.png);
    background-size: 16px 16px;
    background-position: 16px center;
    height: 40px;
    padding: 0 0 0 40px;   
    border-width: 1px;
    border-color: #bbbbbb;
    border-style: solid;
    border-radius: 4px;
    background-repeat: no-repeat;
    width: 300px;
    
}
.m-field-input-icon:focus{
    border-width: 1px;
    border-color: #019160;
}
.m-field-input-icon:focus::placeholder{
    display: none;
}